.profile__subtitle {
  margin: 0;

  max-width: 350px;

  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__subtitle {
    align-self: center;
    margin: 0 auto;

    max-width: 200px;

    font-size: 14px;
    line-height: 17px;
  }
}
